* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0B2434;
  padding: 75px;
  font-family: 'Karla', sans-serif;
}

main {
 background-color: #d1cbcb; 
 height: 85vh;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: center;
}

.dieContainer {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
  width: 750px;
  margin: 0 auto;
}

.dieFace {
  height: 100px;
  width: 100px;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.25);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center; 
  cursor: pointer;
}

.dieText {
  font-size: 35px;
}

.rollDie {
  height: 75px;
  width: 400px;
  border: none;
  border-radius: 6px;
  background-color: #353057;
  color: white;
  font-size: 3rem;
  font-family: inherit;
  margin-top: 25px; 
  justify-content: center;
  text-align: center;
}

.rollDie:focus {
  outline: none;
}

.rollDie:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0,0,0,0.7);
}

.title {
  font-size: 7rem;
  margin: 0;
}

.instructions {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-top: 0;
  text-align: center;
  font-size: 2.5rem;
  padding: 0 50px;
}